@page "/login"
@using AppCommerce.Infrastructure.Data
@inject AppDbContext Db
@inject NavigationManager Nav

<h3>Login</h3>

<input @bind="email" placeholder="Email" />
<input type="password" @bind="password" placeholder="Password" />


<button @onclick="Log">Login</button>

@code {
    string email = "";
    string password = "";

    async Task Log()
    {
        var user = Db.Users.FirstOrDefault(x => x.Email == email);

        if (user != null && user.PasswordHash == password)
        {
            Nav.NavigateTo("/main");
        }
    }
}
